.main{
    background-color: #C4C4C4;
    margin: 0 auto;
    padding-bottom: 10px;
    padding-top: 50px;
} 
.container{
    max-width: 1000px;
    margin: 0 auto 50px;
    display: block;
}
.number{
    font-size: 64px;
    color:white;
    text-align: center;
    line-height: 200px;
}
.square-pink{
    background-color: #FC8F8F;
    height: 200px;
    width: 200px;
}
p{
    background-color: #E6E6E6;
    color: #E6E6E6;
    width: 1000px;
    height: 200px;
    }
    
.b{
    float: left;
}
.n{
    float: right;
}
.count{
    font-size: 36px;
    color:white;
    text-align: center;
    line-height: 100px;
}
.square-red{
    background-color: #FC8F8F;
    height: 100px;
    width: 100px;
    margin-left: 20px;
}
.c {
    float: left;
}
.block{
    float: right;
}
.d {
    display: inline-block;
}
.e {
    display: inline-block;
}
.f {
    display: inline-block;
}
.g {
    display: inline-block;
} 
.i {
    float: left;
    margin-right: 20px;
}
.m {
    float: left;
}
.k {
    float:right;
    margin-left: 20px;
}
.l {
    float:right;
}

